<div class="container-fluid">
	<h1>Enrollment Form</h1>
	<div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
	<div *ngIf="submitted && responseInfo">
	Form Submitted Successfully
		{{responseData | json}}
	</div>
	<form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onFormSubmit()" novalidate>
	<!-- {{userForm.value | json}}
	<hr/>
	{{userModel | json}} -->
		<div class="form-group"  >
			<label [class.text-danger]="userName.invalid && userName.touched">UserName</label> 
			<input type="text" required  #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" class="form-control" [(ngModel)]="userModel.userName" name="userName">
			<small class="text-danger" [class.d-none]="userName.valid || userName.untouched">userName is required</small>
		</div>
		
		<div class="form-group">
			<label [class.text-danger]="email.invalid && email.touched">Email</label> 
			<input type="email" required class="form-control" [(ngModel)]="userModel.email" name="email" #email="ngModel" 
			pattern ="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
			<small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required</small>
		</div>
		
		<div class="form-group">
			<label [class.text-danger]="phoneNumber.errors && phoneNumber.touched">Phone Number</label> 
			<input type="tel" class="form-control"  [(ngModel)]="userModel.phoneNumber" name="phoneNumber" required
			pattern ="^\d{10}$" #phoneNumber="ngModel" [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched">
			<!-- <small class="text-danger" [class.d-none]="phoneNumber.valid || phoneNumber.untouched">Enter valid phone number & must have 10 digits</small> -->
			<div *ngIf="phoneNumber.errors && (phoneNumber.invalid || phoneNumber.touched)">
			<small class="text-danger" *ngIf="phoneNumber.errors.required">PhoneNumber is required</small>
			<small class="text-danger" *ngIf="phoneNumber.errors.pattern && phoneNumber.touched">PhoneNumber must have 10 digits</small>
			</div>
		</div>
		
		<div class="form-group">
		<label [class.text-danger]="topicType.errors && topicType.touched">Select Topic</label> 
			<select class="custom-select" [(ngModel)]="userModel.topics" name="topicType" 
			 required #topicType="ngModel"  [class.is-invalid]="topicType.invalid && topicType.touched"> 
			<option value="">I am interested in</option>
			<option *ngFor="let topic of topics">{{topic}}</option>
			</select>
			<small class="text-danger" [class.d-none]="topicType.valid || topicType.untouched">Please select option</small>
		</div>
		
		<div class="mb-3">
			<label>Time Preference</label>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="timePreference" value="morning"  [(ngModel)]="userModel.timePreference" >
			<label class="form-check-label">Morning (9AM - 12PM)</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="timePreference" value="afternoon" [(ngModel)]="userModel.timePreference">
			<label class="form-check-label">Evening (1PM - 4PM)</label>
			</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
			<label class="form-check-label">Evening (6AM - 9PM)</label>
			</div>
		</div>
		
		<div class="form-check mb-3">
			<input class="form-check-input" type="checkbox" [(ngModel)]="userModel.promotionalOffer" name="promotionalOffer">
			<label class="form-check-label">Send me promotional offers</label>
		</div>
		
		<div ngModelGroup="address">
			<div class="form-group">
			<label>Street</label> 
			<input type="text" class="form-control" [(ngModel)]="userModel.address.street" name="street">
			</div>
			<div class="form-group">
			<label>City</label> 
			<input type="text" class="form-control" [(ngModel)]="userModel.address.city" name="city">
			</div>
			<div class="form-group">
			<label>State</label> 
			<input type="text" class="form-control" [(ngModel)]="userModel.address.state" name="state">
			</div>
			<div class="form-group">
			<label>Postal Code</label> 
			<input type="text" class="form-control" [(ngModel)]="userModel.address.postalCode" name="postalCode">
			</div>
		</div>
		
		<button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary" >Submit Form</button>
	</form>
</div>
